[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "public"]
	path = public
	url = git@github.com:PlayingWithProjections/PlayingWithProjections.github.io.git
	branch = master
